html, body, p{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

body {
  text-align: center;
  
}


#Main-Wrapper {
  min-height: 100%;
  position: relative;
  /*margin-bottom: -50px;*/
  background-color: #000000;
}
.Drum-Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#drum-MachineBG {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 300px;
  /*z-index: -1;*/
  
}

/*img .drum-MachineBG {
  width: 800px;
  height: 800px;
    text-shadow: 5px 9px 30px #fff300;
}*/

h1 {
  font-size: 8rem;
  color: #dbedf3;
  font-family: "Monoton", cursive;
  text-shadow: 5px 9px 30px #fff300;
}
.CS{
  font-size: 1rem;
  color: #dbedf3;
  font-family: "Lobster", cursive;
  line-height: 1.5;
  margin-top: 1em;
  padding:0 ;
 
}
span {
  font-size: 10rem;
  font-family: "Lobster", cursive;
  line-height: 1.5;
}


.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.c {
  background-image: url("images/kick.png");
}

.e{
  background-color: #2c26a5;
}

.r{

}

.t{

}

.v{

}

.b{

}

.n{

}

.m{
  
}

.set-container {
  top: 70px;
  right: 140px;
  position: relative;
}
.set {
  display: flex;
  /*margin: 10% auto;*/
  justify-content: center;
  /*height: 500px;*/
  top: 97px;
  position: relative;
  left: 57px;
}



.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}


.drum {
  outline: none;
  border: 2px solid #fff300;
  font-size: 2rem;
  font-family: "Lobster", cursive;
  /*line-height: 2;*/
  font-weight: 900;
  color: #fff;
  text-shadow: 3px 0 #000;
  /* border-radius: 15px;*/
  display: inline-block;
  width: 73px;
  height: 52px;
  text-align: center;
  margin: 7px;
  background-color: white;
}
/*Shapes*/



footer {
  color: #fff;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
}
